
<form [formGroup]="signUpForm"  (submit)="doSignUp()"  >
  
    <label for="fn">שם משתמש:</label>
    <input formControlName="userName" class="form-control" type="text" placeholder="ישראל" id="fn">

    <label for="mail">מייל</label>
    <input formControlName="email" class="form-control" type="email" id="mail">

    <label for="un">סוג משתמש:</label>
    <!-- <input formControlName="UserType" class="form-control" type="text" placeholder="" id="un"> -->


    <select class="form-select" aria-label="סוג משתמש">
       
        <option value="1">מנהל</option>
        <option value="2">מורה</option>
        <option value="3">תלמיד</option>
      </select>



    <label for="pass">סיסמא:</label>
    <input formControlName="password" class="form-control" type="password" placeholder="" id="pass">

    <!-- <label for="cpass">אימות סיסמא:</label>
    <input formControlName="password" class="form-control" type="password" placeholder="" id="cpass"> -->

    <label for="pass">קוד מוסד:</label>
    <input formControlName="InstitutionCode" class="form-control" type="password" placeholder="" id="pass">

    <!-- <input type="checkbox" id="agree">
    <label for="agree">אני מאשר את תנאי השימוש באתר זה</label> -->
    <button type="button" class="btn btn-dark">הרשם</button>
    <!-- שם משפחה -->
    <!-- מייל -->
  

    <!-- שם משתמש לאתר -->
    <!--סיסמא -->
    <!--אימות סיסמא -->
    <!-- אישור תנאי השימוש -->
</form>