
<form [formGroup]="signUpForm"  (submit)="doSignUp()"  >
  <div class="container" style="align-items: center; width: 30rem;">
    <label for="fn">שם משתמש:</label>
    <input formControlName="userName" class="form-control" type="text" placeholder="ישראל" id="fn">

    <label for="mail">מייל</label>
    <input formControlName="email" class="form-control" type="email" id="mail">

    <label for="un">סוג משתמש:</label>
   
    <select class="form-select" aria-label="סוג משתמש">
       
        <option value="1">מנהל</option>
        <option value="2">מורה</option>
        <option value="3">תלמיד</option>
      </select>

    <label for="pass">סיסמא:</label>
    <input formControlName="password" class="form-control" type="password" placeholder="" id="pass">

    <label for="pass">קוד מוסד:</label>
    <input formControlName="InstitutionCode" class="form-control" type="password" placeholder="" id="pass">


    <button type="button" class="btn btn-dark">הרשם</button>
   </div>
</form>